.App {

  overscroll-behavior:none;
  overflow:hidden;
}
a {
  color: #168b70;
  
}
a:visited {
  color: #168b70;;
  font-style: italic;
}
body {
  /* height:60%; */
  background-color:#0c1526;
  color:  #168b70;;
  padding:1%;
  /* min-height: 100%; */
  
}

.site-header {
  align-items: center;
  color: #168b70;;
  margin: 0%;
  height:10vh;
  width:100%;
  display:flex;
  flex-flow:row wrap;
  justify-content:space-between;
  padding: 0%;
  padding-bottom:1.5em;
  border-bottom:  #168b70;;
  border-style:solid;
  border-width: 0em;
  border-bottom-width: 0.1em;
  scroll-snap-type:none;
  top:0;
  left:0;
  right:0;
 
}


footer {
  background-color: black;
  color: #168b70;;
  margin: 0%;
  height:15vh;
  width:100vw;
  margin-top:100%;
  display:flex;
  flex-flow:row nowrap;
  justify-content:space-between;
  padding: 0%;
  position: fixed;
  bottom: 0;
  left:0;
  right: 0;
  display: flex;
}

.footerLeft {
  padding-left: 2%;
}

.footerRight {
  padding-right:2%;
}

.footer-svg{
  height:16;
  width:16;
  padding: 5px;
  margin-top:20px;
  background-color: #168b70;;
  border-radius: 5px;
  margin-right:7px;
  transition:1s;
}
.footer-svg:hover{
  background-color: cornsilk;
  transition:1s;
}

.contact-links{
text-align: right;
}

.download-cv{
  font-family:'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  text-decoration: none;
  border: 1px solid #168b70;
  padding: 2vh;
  border-radius: 10px;
  transition-duration: 1.5s;
}
.download-cv:hover{
  transition-duration: 1.5s;
  background-color:cornsilk ;
  color: #8891a3;
}
.resume-top {
    align-items: center;
    color: #168b70;;
    margin: 0%;
    height:10vh;
    width:100%;
    display:flex;
    flex-flow:row wrap;
    justify-content:space-between;
    scroll-snap-type:none;
    top:0;
    left:0;
    right:0;
  }

  .about-content{
    margin: 0%, 6% 3% 0%;
    color:#168b70;
    overflow: scroll;
    height:40em;
  }
.job-block-header{
  align-items: center;
    color: #168b70;;
    margin: 0% 1%;
    height:10vh;
    width:100%;
    display:flex;
    flex-flow:row wrap;
    justify-content:space-between;
    /* padding: 0%;
    margin-right:5%; */
    scroll-snap-type:mandatory;
    top:0;
    left:0;
    right:0;
    
}

.resume-body{
  height:60em;
}

.projects{
  height:85em;
  overflow: scroll;
}

p, li {
  color:cornsilk;
}
a:hover{
  color:cornsilk;
  transition:1s;
}
a{
  transition:1s;
}
.emphasis{
  font-weight:bolder;
}
strong{
  color:#168b70;
}
.pdf-container{
  width:100vw;
  height:100vh;
  overflow-y:auto;
  background-color: white;
  display:flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding:0;
}
.proj-header{
  margin-top:1.5em;
}
.header-link{
  text-decoration: none;
}

.footer-svg-mail{
  height:16px;
  width:16px;
  padding: 5px;
  margin-top:20px;
  background-color: #168b70;;
  border-radius: 5px;
  margin-right:7px;
  transition:1s;
}
.footer-svg-mail:hover{
  background-color: cornsilk;
  transition:1s;
}

h4 {
  margin: 1em;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}